<div id="groupsContainer" style="margin-left: 40%;">
    <h1 style="text-align:center;">Groups</h1>
    <div id="noGroupsContainer" *ngIf="getGroupsLength() == 0">
        <p>You're not in any groups...</p>
    </div>
    <div id="groupContainer">
        <div class="group" *ngFor="let group of groups; let i = index">
            <h3 class="groupName">{{group.groupName}}</h3>
            <p class="leaderName">{{group.leaderName}}</p>
            <button class="groupButton" (click)="redirectToGroupEntries()">View Group Entries</button>
        </div>
    </div>

    <div>
        <button class="groupFunctionButtons" id="createGroupButton" (click)="showCreateGroupModal()">Create Group</button>
        <button class="groupFunctionButtons" id="joinGroupButton" (click)="showJoinGroupModal()">Join Group</button>
    </div>
</div>
<p-dialog class = "modalPopup" header="Create a New Group" 
            [(visible)]="displayCreateGroupModal" [modal]="true" 
            [style]="{width: '20vw', 'font-family': 'monospace', 'margin-left': '7px'}"
            [draggable]="false" [resizable]="false">
    <div>
        <p style="font-size: 18px;">Groups allow you to view shared entries created by other users. Once you've created a new group, 
                                    share the group code with anyone and they can join.</p>
        <label for="groupName" style="font-weight:bold;">New Group Name </label>
        <input id="groupNameInput" name="groupName" type="text" [(ngModel)]="newGroupNameInput"/>
        <br>
        <p class="groupErrorMessage" *ngIf="displayTooShortGroupNameError">Group name must be longer than 5 characters</p>
        <br>  
        <img class="groupLoadingIcon" *ngIf="displayGroupLoadingIcon" src="../../../assets/images/loading.gif"/>
    </div>
    <ng-template pTemplate="footer">
        <button class="figureModalBtn" (click)="createNewGroup()">Confirm</button>
        <button class="figureModalBtn" (click)="closeCreateGroupModal()">Exit</button>
    </ng-template>
</p-dialog>

