#fixedEntries {
}

#editor {
    flex-grow: 1;
}

#figuresContainer {

}

td {
    width: 15em;
    overflow:hidden;
    overflow-x:hidden
}

button { 
    width: 58px;
    height: 3em;
    font-family: monospace;
    background-color:  #57CC99;
    color: white;
    border-radius: 3px;
    border-color: white;
    margin-right: 2px;
    text-align:center;
}

button:hover {
    border-color: black;
}

#breadcrumbContainer {
    border-top: 1px;
    border-bottom: 1px;
    border-top-color: black;
    border-top-style: solid;
    border-bottom-color: black;
    border-bottom-style: solid;
}