<app-journal-header></app-journal-header>
<div id="breadcrumbContainer" style="width: 100%; display:inline-flex;" *ngIf="journalService.getCurrentTopic() != null;" [style.background-color] = "journalColor">
    <h2 style="font-family: monospace; margin-left: 2.5em; color : #e7f4dd;">{{journalService.getCurrentTopicName()}} 
        <span *ngIf="journalService.getCurrentJournalTitle() != ''"> > {{journalService.getCurrentJournalTitle()}}  
        </span>
        <span id="journalTitlePlaceholder" *ngIf="journalService.getCurrentJournalSubtitle() != ''">
            <i> {{journalService.getCurrentJournalSubtitle()}}</i>
        </span>
    </h2>
    <p style="margin-left: 2em;" *ngIf="displayJournalSavingMessage">Saving journal...</p>
</div>

<div style="display: flex" *ngIf="!loadingIcon; else elseBlock">
    <div >
        <button id="createJournalBtn" class="journalCRUDBtn" (click)="showNewJournalModal()">Create</button>
        <button class="journalCRUDBtn" (click)="saveJournalText()">Save</button>
        <button class="journalCRUDBtn" (click)="showEditJournalModal()">Edit</button>
        <button id="deleteJournalBtn" class="journalCRUDBtn" (click)="showDeleteJournalModal()">Delete</button>
        <app-journalentries id="fixedEntries"></app-journalentries>
    </div>
    <editor id="editor"
        [init]="{height: '100%', width: '100%'}"
        [(ngModel)]="text"
    ></editor>
    <app-figures id="figuresContainer"></app-figures>
</div>

<ng-template #elseBlock>
    <div style="margin-left: 50%; margin-top: 10%;">
        <img style="height: 5em; width: 5em;" src="../../../assets/images/loading.gif"/>
    </div>
</ng-template>

<p-dialog class = "modalPopup" header="Add New Entry" [(visible)]="displayNewJournalModal" [modal]="true" [style]="{width: '20vw', 'font-family': 'monospace'}"
[draggable]="false" [resizable]="false">
    <p class="m-0 modalPopup" style="text-align:center;">
        <label for="journalTitle">Entry title</label>
        <br>
        <input id="journalTitle" type="text"  [(ngModel)]="newJournalTitle" placeholder="Required">
        <br>
        <br>
        <label for="journalSubTitle">Entry Sub-title</label>
        <br>
        <input id="journalSubTitle" type="text"  [(ngModel)]="newJournalSubTitle" placeholder="Optional">
        <br>
        <br>
    </p>
    <ng-template pTemplate="footer">
        <button id="modalCloseBtn" class = "modalPopup" (click)="createNewJournal()">Create</button>
        <button id="modalCloseBtn" class = "modalPopup" (click)="closeNewJournalModal()">Close</button>
    </ng-template>
</p-dialog>

<p-dialog class = "modalPopup" header="Edit Entry" [(visible)]="displayEditJournalModal" [modal]="true" [style]="{width: '20vw', 'font-family': 'monospace'}"
[draggable]="false" [resizable]="false">
    <p class="m-0 modalPopup" style="text-align:center;">
        <span class="errorMessage" *ngIf="displayInvalidUpdatedTitlesMessage">Main title can not be empty.</span>
        <br>
        <label for="journalTitle">Entry title</label>
        <br>
        <input id="journalTitle" type="text" [(ngModel)]="editedJournalTitle"> 
        <br>
        <br>
        <label for="journalSubTitle">Entry Sub-title</label>
        <br>
        <input id="journalSubTitle" type="text" [(ngModel)]="editedJournalSubtitle" >
        <br>
        <br>
    </p>
    <ng-template pTemplate="footer">
        <button id="modalCloseBtn" class = "modalPopup" (click)="updateJournal()">Update</button>
        <button id="modalCloseBtn" class = "modalPopup" (click)="closeEditJournalModal()">Close</button>
    </ng-template>
</p-dialog>

<p-dialog class = "modalPopup" header="Delete Journal" [(visible)]="displayDeleteJournalConfirmationModal" [modal]="true" [style]="{width: '20vw', 'font-family': 'monospace'}"
[draggable]="false" [resizable]="false">
    <p class="m-0 modalPopup" style="text-align:center;">
        Are you sure you want to delete this journal?
    </p>
    <ng-template pTemplate="footer">
        <button id="modalCloseBtn" class = "modalPopup" (click)="deleteCurrentJournal()">Delete</button>
        <button id="modalCloseBtn" class = "modalPopup" (click)="closeDeleteJournalModal()">Close</button>
    </ng-template>
</p-dialog>

