#newPasswordInputContainer {
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content:center; 
    align-items:center;
    height: 70%;
    text-align:center;
    font-family: monospace;
}

#submitNewPasswordButton {
    width: 10em;
    height: 2em;
    font-family: monospace;
    background-color:  #57CC99;
    color: white;
    border-radius: 3px;
    border-color: white;
}

#tooShortPasswordError {
    position: absolute;
    text-align: center;
    color: red;
    margin-left: -3.5em;
}

.errorMessage {
    color: red;
    z-index: 5;
}