<div id="newPasswordInputContainer">

    <div class="form-input" *ngIf="!displayRetrievingUserIcon && !displaySignInLoadingIcon; else elseBlock;">
        <h2>Input new password</h2>
        <br>
        <span>
            <label for="emailInput" class="inputLabel">Password</label>
            <br>
            <input id="passwordInput" type="password" [(ngModel)] = "newPassword"> 
            <br>
            <br>
            <label for="emailInput" class="inputLabel">Confirm your password</label>
            <br>
            <input id="confirmedPasswordInput" type="password" [(ngModel)] = "confirmedPassword"> 
            <br>
            <br>
        </span>
        <br>
        <button id="submitNewPasswordButton" (click)="resetPassword()">Reset Password</button>
        <ul>
            <li class="errorMessage" *ngFor="let error of errorMessages">{{error}}</li>
            <br>
        </ul>
    </div>
    <br>
    <ng-template #elseBlock>
        <br>
        <img src="../../../assets/images/loading.gif"/>
    </ng-template>
</div>

<div>

</div>