<head>
    <title>Primmy</title>
</head>
<body>

    <app-header></app-header>
    <div scroll="onScroll()">
    <div class="wrapper">
        <div class="typing-demo">
          <h1 id="primmy">PRIMMY</h1>
        </div>
    </div>
    <div id="firstSection">
        <img class="sectionImage" src="../../../assets/images/general-science.jpg"/>
        <p class="sectionText">A single place for<br> all of your thoughts</p>        
    </div>
    <div id="secondSection">
        <img [className]="sectionTwoDisplayed ? 'scrollSectionImage' : 'invisibleSection'" src="../../../assets/images/general-science.jpg"/>
        <p [className]="sectionTwoDisplayed ? 'scrollSectionText' : 'invisibleSection'">Multiple workbooks <br>for easy organization</p>        
    </div>
    <div id="thirdSection">
        <img [className]="sectionThreeDisplayed ? 'scrollSectionImage' : 'invisibleSection'" src="../../../assets/images/general-science.jpg"/>
        <p [className]="sectionThreeDisplayed ? 'scrollSectionText' : 'invisibleSection'">Add attachments <br>to every journal <br>in your workbook</p>        
    </div>
    </div>

</body>