

#tagLineContainer {
    margin-left: auto;
    margin-right: auto;
}


#splashImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

hr {
    margin-top: 1em;
    width: 35%;
}

.wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
  padding-top: 3em;
}

.sectionText {
  font-size: 84px;
  text-align: right;
  padding-top: 3em;
  margin-right: 2em;
  font-family: monospace;
  animation-name: sectionFadeIn;
  animation-duration: .6s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
}

.scrollSectionText {
  font-size: 84px;
  text-align: right;
  padding-top: 3em;
  margin-right: 2em;
  font-family: monospace;
  animation-name: sectionFadeIn;
  animation-duration: .6s;
  animation-fill-mode: both;
}

.invisibleSectionText {
  display: none;
}

@keyframes sectionFadeIn {
  from {opacity: 0; margin-top: 10px;}
  to {opacity: 1; margin-top: 0px;}
}

#firstSection {
  height: 55em;
  width: 100%; 
  margin: 0 auto;
  background-color: #57CC99;
  color: #DDF4EA;
  border: 1px solid #57CC99;
}


#secondSection {
  margin-top: 20em;
  height: 55em;
  width: 100%; 
  margin: 0 auto;
  background-color: white;
  color: black;
  border: 1px solid black;

}

#thirdSection {
  margin-top: 20em;
  height: 55em;
  width: 100%; 
  margin: 0 auto;
  background-color: #57CC99;
  color: #DDF4EA;
  border: 1px solid #57CC99;
}



.typing-demo {
  width: 12ch;
  animation: typing 1.2s steps(6), blink .5s step-end 3;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
  font-family: monospace;
  font-size:56px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  from, to { border-color: black }
  50% { border-color: transparent; }
}
  