<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="journalPreviewListContainer">
    <div class="journalPreviewContainer">
        <div class="dropdown">
            <button *ngIf="retrievingTopics">
                <img src="../../../assets/images/loading.gif"/>
            </button>
            <button class="dropbtn" id="newTopicDropdownBtn" *ngIf="!retrievingTopics;">
                <span *ngIf="topics.length == 0; else showTopics" (click)="showNewTopicModal()">
                    Add Workbook
                </span>
                <ng-template #showTopics>
                    <div>
                        <i class="fa fa-caret-down"></i>
                        <span style="margin-left: 0em;"> {{currentTopic.topicName}}</span>
                    </div>
                </ng-template>
            </button>
            <div class="dropdown-content" >
                <p class="topic" *ngIf="topics.length != 0" (click)="showNewTopicModal()">Add Workbook</p>
                <p class="topic" (click)="changeTopics(k);" *ngFor="let topic of topics; let k = index">
                    {{topic.topicName}}
                </p>
            </div>
        </div>
        <br> 
        <br> 
        <br>
        <br>
        <br>
        <div id="loadingContainer"  style="margin-left: auto; margin-right: auto;" *ngIf="retrievingPreviews; else displayJournalPreviews;">
            <img  src="../../../assets/images/loading.gif"/>
        </div>
        <ng-template #displayJournalPreviews>
            <div class="journalPreview" *ngFor="let entry of journalPreviews; let i = index"
                [ngClass]="{'active': currentJournalPreviewIndex === i}"
                (click)="setSelectedPreviewIndex(i)">
                <div class="journalPreviewTitleEllipses">
                    <span class="preview-title">{{entry.title}} </span>
                </div>
                <div class="journalPreviewDateEllipses">
                    &nbsp;&nbsp;<i>{{entry.createdDate | date : "shortDate"}}</i>
                </div>
                <div class="journalPreviewSubTitleEllipsis">
                    <br>
                    <span class="preview-subTitle">{{entry.subTitle}}</span>
                </div>
            </div> 
        </ng-template>
        
    </div>

    <p-dialog class = "modalPopup" header="Add New Workbook" [(visible)]="displayNewTopicModal" [modal]="true" [style]="{width: '20vw', 'font-family': 'monospace'}"
    [draggable]="false" [resizable]="false">
        <p class="m-0 modalPopup" style="text-align:center;">
            <label for="topicName">Workbook Name</label>
            <br>
            <input id="topicName" type="text"  [(ngModel)]="newTopicName" placeholder="Required">
            <br>
            <br>
            <label for="topicName">Color</label>
            <br>
            <select id="colorDropdown" [(ngModel)] = newTopicColor>
                <option value="#57CC99" style="background:#57CC99; color: white">Green</option>
                <option value="#cc578a" style="background:#cc578a; color: white;">Red</option>
                <option value="#578acc" style="background:#578acc; color: white;">Blue</option>
                <option value="#e7f4dd" style="background:#e7f4dd ; color: black;">White</option>
                <option value="#9792de" style="background:#9792de; color: white;">Purple</option>
            </select>
            <br>
            <br>
            <b>OR</b>
            <br>
            <br>
            <label for="classCode">Have a class code?</label>
            <br>
            <input id="classCode" type="text"  [(ngModel)]="newTopicClassId" placeholder="Optional">
            <br>
            <br>
            <br>
            <img *ngIf="displayNewTopicModalLoadingIcon" src="../../../assets/images/loading.gif"/>  
        </p>
        <ng-template pTemplate="footer">
            <button id="modalCloseBtn" class = "modalPopup" (click)="createNewTopic()">Create</button>
            <button id="modalCloseBtn" class = "modalPopup" (click)="closeNewTopicModal()">Exit</button>
        </ng-template>
    </p-dialog>
</div>

