#passwordResetContainer {
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content:center; 
    align-items:center;
    height: 70%;
    text-align:center;
    font-family: monospace;
}

#resetPasswordButton {
    width: 10em;
    height: 2em;
    font-family: monospace;
    background-color:  #57CC99;
    color: white;
    border-radius: 3px;
    border-color: white;
}

#resetPasswordButton:hover {
    cursor: pointer;
}

.errorMessage {
    margin-top: 5px;
    position:absolute; 
    margin-left: 3.6em;
    color: red;
}