<div id="passwordResetContainer">
    <form [formGroup] = "passwordForm" (ngSubmit)="onSubmit()">
        <div class="form-input" *ngIf="!resetEmailSent; else elseBlock;">
            <h2 id="resetFormHeader">Reset your password</h2>
            <br>
            <span>
                <label for="emailInput" class="inputLabel">Email</label>
                <br>
                <input id="emailInput" type="text" formControlName="email"> 
            </span>
            <p class="errorMessage" *ngIf="displayEmailErrorMessage">Enter your email</p>
            <br>
            <br>
            <br>
            <button id="resetPasswordButton" type="submit">Reset Password</button>
            <br>
            <br>
            <a class="userlinks" routerLink="/">Take me back home</a>
            <br>
            <br>
            <img style="position: absolute; margin-left: -2.4em;"*ngIf="displayLoadingIcon" src="../../../assets/images/loading.gif">
        </div>
    </form>
    <ng-template #elseBlock>
        <br>
        <h2>Email sent!</h2>
        <br>
        <p>Check your email and open the link we sent to continue.</p>
        <br>
        <p>You can close this tab.</p>
    </ng-template>
</div>