<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div id="profileGroupTabContainer">
    <button id="editProfileBtn" [ngClass]="{'activeTab': editProfileTabIsVisible}" (click)="showEditProfileTab()">Profile</button>
    <button id="groupsBtn" [ngClass]="{'activeTab': groupsTabIsVisible}" (click)="showGroupsTab()">Groups</button>
</div>
<app-edit-profile *ngIf="editProfileTabIsVisible; else groupContainerBlock"></app-edit-profile>
<ng-template #groupContainerBlock>
        <app-groups></app-groups>
</ng-template>

