#profileContainer {
    width: 40em;
    height: 43em;
    background-color: #57CC99;
    color: white;
    float: left;
    font-family: monospace;
    padding-left: 2m;
}

table {
    border-spacing: 2em;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

.editFormLabel {
    font-weight: bold;
    font-size: 20px;
    margin-top: 16px;
    text-align: left;
}

.editFormValue {
    font-size: 16px;
    margin-top: 16px;
    margin-left: 5em;
}

.editFormInput {
    height: 35px;
    width: 15em;
    margin-top: 16px;
}

.editIcon {
    width: 25px;
    height: 25px;
    float: left;
    display: flex;
    margin-right: .5em;
    margin-top: 5px;
    margin-left: 1em;
}

.editIcon:hover {
    cursor: pointer;
}