#editProfileContainer {

}

#groupsContainer {

}

#editProfileBtn {
    width: 10em;
    height: 3em;
    background-color: #DDF4EA;
    color: black;
    font-family: monospace;
    border-top: 0px;
    border-radius: 5px;
    margin-bottom: 1px;
}

#editProfileBtn.activeTab {
    background-color: #57CC99;
    color: white;
}

#groupsBtn {
    width: 10em;
    height: 3em;
    background-color: #DDF4EA;
    color: black;
    font-family: monospace;
    border-top: 0px;
    border-radius: 5px;
}

#groupsBtn.activeTab {
    background-color: #57CC99;
    color: white;
}

#profileGroupTabContainer {
    margin-left: 30%;
    margin-top: 1em;
}

#profileGroupTabContainer button:hover {
    cursor: pointer;
    border-color: white;
    background-color: #57CC99;
}